.divImg {
    width: 100% !important;
    height: 100%;
}

.foto {
    width: 100% !important;
    height: 100%;
}

.textoImg {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#link {
    border: 1px solid #aaa;
}

.btnSubmit {
    text-align: center;
}

#itemPedidoTable {
    border: 1px solid #aaa;
}

tr, td {
    text-align: center;
}