@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")

<div class="container larguraGrande">
    <div class="row marginPrimeiro">
        <div id="botCriaRecla"></div>
        <a href="../Clients">
            <div class="col-xs-12 col-sm-6 col-md-4 paddingDiv" id="link">
                <div class="divImg">
                    <center><img src="http://www.encontresuafranquia.com.br/wp-content/uploads/2015/07/cliente.jpg" class="foto"></center>
                </div>
                <div class="textoImg">Clientes</div>
            </div>
        </a>
        <a href="../Employees">
            <div class="col-xs-12 col-sm-6 col-md-4 paddingDiv" id="link">
                <div class="divImg">
                    <center><img src="http://1.bp.blogspot.com/_LSxW2sdp8xc/S4qFaZ4LnPI/AAAAAAAALx8/w3KFxQBiuw4/s320/manutencao.png" class="foto"></center>
                </div>
                <div class="textoImg">Funcionários</div>
            </div>
        </a>
        <a href="../Products">
            <div class="col-xs-12 col-sm-6 col-md-4 paddingDiv" id="link">
                <div class="divImg">
                    <center><img src="https://safenet.gemalto.com/uploadedImages/images/Icons/Blue-Token-Icon.png" class="foto"></center>
                </div>
                <div class="textoImg">Produtos</div>
            </div>
        </a>
        <a href="../Suppliers">
            <div class="col-xs-12 col-sm-6 col-md-4 paddingDiv" id="link">
                <div class="divImg">
                    <center><img src="https://bigevento.s3.amazonaws.com/assets/s4icon-9b108869337b958c857b09b89cffabf4.png" class="foto"></center>
                </div>
                <div class="textoImg">Fornecedores</div>
            </div>
        </a>
    </div>
</div>